<%# El nombre de un parcial comienza con guion bajo %>

<%# Si no agrego la opción local: true. El formulario tratará de enviarse via AJAX %>
<div class="small-container center-block">
  <%= form_with(model: @article, local: true) do |form| %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
    </div>

    <div>
      <%= form.submit %>
    </div>

  <% end %>
</div>

<%# Esto va a enviar el formulario al método create o update según tenga datos o no %>