<div class="large-container center-block">
  <h1><%= @article.title %></h1>

  <div>
    <p>Escrito por: <strong><%= @article.user.email %></strong></p>

    <% if @article.user.avatar.attached? %>
      <%= image_tag url_for(@article.user.avatar), height: 40 %>
    <% end %>
  </div>

  <div><%= @article.content %></div>

  <div class="margin-top">
    <p class="label">Tags</p>
    <% @article.categories.each do |category| %>
      <span class="badge badge-pill padding" style="background-color: <%= category.color %>">
        <%= link_to category.title, category, class: "text-decoration-none text-white" %>  
      </span>
    <% end %>
  </div>

  <div> <%= link_to "Eliminar artículo", @article, method: :delete %> </div>

</div>