<!DOCTYPE html>
<html>
  <head>
    <title>BlogRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="be-red white large-padding">
      <ul class="no-list row center-xs middle-xs">
      <li class="col-md">
          <h1 class="no-margin" id="logo">Blog logo</h1>
        </li>
        <li class="col-md">
          <%= link_to "Inicio", root_path %>
        </li>
        <li class="col-md">
          Diseño
        </li>
        <li class="col-md">
          Programación
        </li>
        <li class="col-md">
          Tecnología
        </li>
        <% if user_signed_in? %>
          <li class="col-md">
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
